@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: #112128;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    cursor: pointer;
    width: var(--card-width);
    height: var(--card-height);
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.wrapper {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: all 0.5s;
}

.wrapper::before,
.wrapper::after {
    position: absolute;
    content: '';
    opacity: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 0;
    background-image: linear-gradient(to top, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}

.test {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 0px 35px 32px -8px rgb(0, 0, 0, .75);
}

.card:hover .wrapper::after,
.wrapper::before {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.card:hover .wrapper::before {
    opacity: 1;
}

.card:hover .test {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.test img {
    height: 200px;
}

.test h1,
p {
    color: snow;
    text-shadow: rgb(169, 142, 30) 1px 0 10px;
    font-family: "Chakra Petch", sans-serif;
    ;
}

.test h1 {
    text-transform: uppercase;
}