@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap');

:root {
    --cor01: #b80000;
    --cor02: #b11b25;
    --cor03: #112128;
    --cor04: #fdf7fa;
    --cor05: #fcfff7;
    --cor06: #f0da16;
}

* {
    margin: 0px;
    padding: 0px;
}

/*Formatação do Cabeçalho */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(21, 21, 21);
}

.img-logo {
    height: 90px;
    margin-left: 50px;
}

.header-menu {
    margin-right: 50px;
    display: flex;
    gap: 40px;
}

.header-menu-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor04);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.header-menu-item:hover {
    font-weight: bolder;
}

.text-decoration-contato {
    background-color: var(--cor01);
    border: 10px solid var(--cor01);
    border-radius: 20px 0px 20px 20px;
}

/*Formatação do Main */
.principal {
    margin: 25px;
}

/*Formatação da Section SOBRE*/
.div-sobre-img {
    position: relative;
    display: inline-block;
}

.section-sobre-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-sobre-img-title {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 70px;
    color: var(--cor04);
    font-family: "Kode Mono", monospace;
}

.div-sobre-text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.section-sobre-text-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Madimi One", sans-serif;
    border-bottom: 4px solid var(--cor01);
    font-size: 30px;
    margin-bottom: 25px;
}

.shape-today {
    color: var(--cor01);
}

.div-sobre-text-p {
    padding: 25px;
    background-color: black;
}

.section-sobre-text-p {
    padding: 35px;
    color: var(--cor04);
    text-align: center;
}

.section-sobre-text-p:hover {
    border: 4px solid var(--cor01);
}


/* <h2 class= "title decor"> 
    ::Before
    "Sobre "
    <Span> nós <span>
    </h2>
*/

/*
.title-decor {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.title-decor span {
    color: blue;
}

.title-decor:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 4px;
    background-color: red;
}
*/