@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Stick+No+Bills:wght@200..800&display=swap');
/* 
font-family: "Stick No Bills", sans-serif;
font-family: "Poppins", serif;
font-family: "Exo", serif;
font-family: "Roboto Mono", serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(180deg, rgba(222,220,220,1) 0%, rgba(254,254,254,1) 35%, rgba(255,255,255,1) 65%, rgba(219,219,219,1) 100%);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}

.colors-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.colors{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.colors-container h1{
    color: #383D42;
    font-family: "Orbitron", sans-serif;
}


.item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.75rem;
    text-align: center;
    background-color: #e0e0e0;
    font-size: 1.5rem;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #383D42;
    font-family: "Roboto Mono", serif;
}

.complementary .item {
    height: 3.5rem;
    box-shadow: none;
    font-size: 1.37rem;
}

.item:first-child{
    border-radius: 10px 0 0 10px;
}

.item:last-child{
    border-radius: 0 10px 10px 0;
}

.primary .item:nth-child(1) {
    background-color: #ffffff;
}
.primary .item:nth-child(2) {
    background-color: #fffffc;
}
.primary .item:nth-child(3) {
    background-color: #fffafa;
}
.primary .item:nth-child(4) {
    background-color: #f2f3f4;
}
.primary .item:nth-child(5) {
    background-color: #9199a1;
}

.secondary .item:nth-child(1) {
    background-color: #1176F3;
}
.secondary .item:nth-child(2) {
    background-color: #1D55E6;
}
.secondary .item:nth-child(3) {
    background-color: #2934DA;
}
.secondary .item:nth-child(4) {
    background-color: #3513CD;
}
.secondary .item:nth-child(5) {
    background-color: #1F24B7;
}

.complementary .item:nth-child(1) {
    background-color: #6ADF98;
}

.complementary .item:nth-child(2) {
    background-color: #00CC99;
}

.font-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    padding: 1.5rem;
    border-radius: 10px;
}


.roboto{
    font-family: "Roboto Mono", serif;
}

.roboto h2 {
    font-size: clamp(0.5rem, 2vw, 1.45rem);
}

.roboto p {
    font-size: clamp(0.75rem, 3vw, 1.47rem);
}

.poppins {
    font-family: "Poppins", serif;
}

.poppins h2 {
    font-size: clamp(0.5rem, 2vw, 1.6rem);
}

.poppins p {
    font-size: clamp(0.75rem, 3vw, 1.75rem);
}

.exo{
    font-family: "Exo", serif;
}

.exo h2 {
    font-size: clamp(1.4rem, 2vw, 1.75rem);
}

.exo p {
    font-size: clamp(1.5rem, 3vw, 1.86rem);
}

.stick{
    font-family: "Stick No Bills", sans-serif;
}

.stick h2 {
    font-size: clamp(1.8rem, 2vw, 1.95rem);
}

.stick p {
    font-size: clamp(2rem, 3vw, 2.3rem);
}




