@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(180deg, rgba(222,220,220,1) 0%, rgba(254,254,254,1) 35%, rgba(255,255,255,1) 65%, rgba(219,219,219,1) 100%);
}

.colors-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.colors{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.colors-container h1{
    color: #383D42;
    font-family: "Orbitron", sans-serif;
}


.item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.75rem;
    text-align: center;
    background-color: #e0e0e0;
    font-size: 1.5rem;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #383D42;
    font-family: "Roboto Mono", serif;
}

.complementary .item {
    height: 3.5rem;
    box-shadow: none;
    font-size: 1.37rem;
}

.item:first-child{
    border-radius: 10px 0 0 10px;
}

.item:last-child{
    border-radius: 0 10px 10px 0;
}

.primary .item:nth-child(1) {
    background-color: #ffffff;
}
.primary .item:nth-child(2) {
    background-color: #fffffc;
}
.primary .item:nth-child(3) {
    background-color: #fffafa;
}
.primary .item:nth-child(4) {
    background-color: #f2f3f4;
}
.primary .item:nth-child(5) {
    background-color: #9199a1;
}

.secondary .item:nth-child(1) {
    background-color: #1176F3;
}
.secondary .item:nth-child(2) {
    background-color: #1D55E6;
}
.secondary .item:nth-child(3) {
    background-color: #2934DA;
}
.secondary .item:nth-child(4) {
    background-color: #3513CD;
}
.secondary .item:nth-child(5) {
    background-color: #1F24B7;
}

.complementary .item:nth-child(1) {
    background-color: #6ADF98;
}

.complementary .item:nth-child(2) {
    background-color: #00CC99;
}


